<?xml version="1.0" encoding="utf-8"?>
<!--
 |  Version 2.18.16
 | Copyright 2016 Esri
 |
 | Licensed under the Apache License, Version 2.0 (the "License");
 | you may not use this file except in compliance with the License.
 | You may obtain a copy of the License at
 |
 |    http://www.apache.org/licenses/LICENSE-2.0
 |
 | Unless required by applicable law or agreed to in writing, software
 | distributed under the License is distributed on an "AS IS" BASIS,
 | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 | See the License for the specific language governing permissions and
 | limitations under the License.
-->


<configuration>
  <Name>Attribute Assistant Release</Name>
  <appSettings>

    <!--Options for the Attribute Assistant-->
    <!--Option to turn on the AA on startup-->
    <add key="AttributeAssistant_EnabledOnStartUp" value="True" />
    <!--The name of the table that defines the functions for the Attribute Assistant-->
    <add key="AttributeAssistant_TableName" value="DynamicValue" />
    <!--The table used for Unique ID Generation-->
    <add key="AttributeAssistant_GenerateId_TableName" value="GenerateId" />
    <!--Activate the debug mode which writes a log file-->
    <add key="AttributeAssistant_Debug" value="false" />
    <!--Path to store the log file, do not include the file name.  The default location is %USERPROFILE%\ArcGISSolutions -->
    <add key="AttributeAssistant_Debug_Path" value="" />
    <!--Option to clear the last values between toggling it on and off-->
    <add key="AttributeAssistant_ClearLastValue" value="False" />
    <add key="AttributeAssistant_CheckEnvelope" value="False" />
    <add key="ndServiceWorksPointDiameter" value="PIPEDIAMETER"/>
    <add key="ndServiceWorksPointMaterial" value="MATERIAL"/>
    <add key="ndServiceWorksPointOwnedBy" value="OWNEDBY"/>
    <add key="ndServiceWorksPointJobPlan" value="JPNUM"/>
    <add key="ndWaterLateralLineDiameter" value="DIAMETER"/>
    <add key="ndWaterLateralLineSERVICELENGTHBAND" value="SERVICELENGTHBAND"/>
    <add key="ndWaterLateralLineSERVICESIDE" value="SERVICESIDE"/>
    <add key="ndWaterLateralLineJobPlan" value="JPNUM"/>
    <add key="Ferrule" value="FERR"/>
    <add key="FerruleDiamater" value="32"/>
    <add key="FerruleMaterial" value="MDPE"/>
    <add key="FerruleOwnedBy" value="1"/>
    <add key="FerruleJobPlan" value="105132"/>
    <add key="TappingSaddle" value="TAPP"/>
    <add key="TappingSaddleDiameter" value="32"/>
    <add key="TappingSaddleMaterial" value="MDPE"/>
    <add key="TappingSaddleOwnedBy" value="1"/>
    <add key="TappingSaddleJobPlan" value="105232"/>
    <add key="BB" value="BB1in"/>
    <add key="BBDiameter" value="32"/>
    <add key="BBMaterial" value="MDPE"/>
    <add key="BBOwnedBy" value="1"/>
    <add key="BBJobPlan" value="10531"/>
    <add key="ES" value="ExM"/>
    <add key="ESDiameter" value="32"/>
    <add key="ESMaterial" value="MDPE"/>
    <add key="ESOwnedBy" value="1"/>
    <add key="ESJobPlan" value="105432"/>
    <add key="SPS" value="SS"/>
    <add key="SPSDiameter" value="32"/>
    <add key="SPSServiceLengthBand" value="&lt;=6m"/>
    <add key="SPSOwnedBy" value="1"/>
    <add key="SPSJobPlan" value="105532S6"/>
    <add key="SPL" value="LS"/>
    <add key="SPLDiameter" value="32"/>
    <add key="SPLServiceLengthBand" value="&lt;=6m"/>
    <add key="SPLOwnedBy" value="1"/>
    <add key="SPLJobPlan" value="105532L6"/>
    <add key="CMMeterSize" value="DN15"/>
    <add key="CMMeterType" value="LINE"/>
    <add key="CMMeterFitType" value="FIT"/>
    <add key="CMDOMCustomerType" value="1"/>
    <add key="CMNonDOMCustomerType" value="2"/>
    <add key="CMDomJobPlan" value="1061IL15D"/>
    <add key="CMNonDomJobPlan" value="1061IL15ND"/>
    <add key="FeatureCount" value="600"/>
    <add key="Angle" value="270"/>
    <add key="ServiceWorksPoint" value="Design Water Service Works"/>
    <add key="lateralLine" value="Design Service Lateral"/>
    <add key="CustomerMeter" value="Design Water Customer Meter"/>
    <add key="CodedValueTable" value="CodedValues"/>
    <add key="LOCATION" value="FacilityID"/>
    <add key="LOCATIONDESCRIPTION" value="NULL"/>
    <add key="CodedValueTable" value="CodedValues"/>
    <add key="DESIGNEDWPRN" value="Designed WPRN"/>
    <add key="GenIDNWM" value="NWATERNETWORKMETER|7|NNM[seq]|True"/>
    <add key="GenIDNWL" value="NWATERLATERALLINE|7|NWL[seq]|True"/>
    <add key="GenIDNCM" value="NCUSTOMERMETER|7|NCM[seq]|True"/>
    <add key="server" value=""/>
    <add key="Instance" value="sde:oracle11g:GISTRNE1"/>
    <add key="Database" value=""/>
    <add key="dbClient" value="oracle"/>
    <add key="uname" value="iwgis"/>
    <add key="password" value="Password1"/>
    <add key="jobOwner" value="tten"/>
    <add key="assigneeType" value="ASSIGN_TO_GROUP"/>
    <add key="assignee" value="LA Contractor Group"/>
    <add key="ProjectsFC" value="IWGIS.PROJECTS"/>
    <add key="jobTypeAsString" value="AsDesigned"/>
    <add key="jobTypeAsLaid" value="As-Laids"/>


    <!--the geocoder used by the AA for the Get_Address rule-->
    <add key="Geocoder" value ="http://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/"/>

  </appSettings>

</configuration>
